.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  horizontal-align:left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.left{
    float:left;
}

#footer{
    position: absolute;
    bottom:0;
}

.headline{
    font-size: 20px;
    text-align: center;
}